* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main .productSite {
    height: 70%;
    width: 60%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: wheat;
    background: rgb(180, 179, 176);



}

.main .productSite .text {
    width: 100%;
    text-align: center;
    color: white;

}

.main .productSite .product {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(77, 62, 62);    

}

.main .productSite .product .prName {
    height: 100%;
    width: 20%;
    padding-left: 45px;
    padding-top: 20px;
}

.main .productSite .product .prQnt {
    height: 100%;
    width: 20%;
    padding-left: 40px;
    padding-top: 20px;
}

.main .productSite .product .prCart {
    height: 80%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-radius: 50px;
    background: #676668;

}




.main .productSite .product .prCart .QNT1,
.main .productSite .product .prCart .QNT2,
.main .productSite .product .prCart .QNT3,
.main .productSite .product .prCart .QNT4 {
    font-size: 1.3rem;
}

.main .productSite .product .prCart .incr1:hover,
.main .productSite .product .prCart .incr2:hover,
.main .productSite .product .prCart .incr3:hover,
.main .productSite .product .prCart .incr4:hover,
.main .productSite .product .prCart .dicr1:hover,
.main .productSite .product .prCart .dicr2:hover,
.main .productSite .product .prCart .dicr3:hover,
.main .productSite .product .prCart .dicr4:hover {
    transform: scale(0.8);
    font-size: 1rem;
}


.main .productSite .product .prCart .dicr1,
.main .productSite .product .prCart .dicr2,
.main .productSite .product .prCart .dicr3,
.main .productSite .product .prCart .dicr4,
.main .productSite .product .prCart .incr1,
.main .productSite .product .prCart .incr2,
.main .productSite .product .prCart .incr3,
.main .productSite .product .prCart .incr4 {
    height: 60%;
    width: 35%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to bottom, #404343, #b7adb6);
    transition: 0.5s;
    font-size: 1rem;
}






/* Cart Site 2 */

.main .cartSite {
    height: 70%;
    width: 30%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-right: 20px;
    gap: 20px;
    /* position: relative; */
    color: wheat;
    background: #63676b
}

.main .cartSite .cTxt {
    text-align: center;
}

.main .cartSite .cProd1,
.main .cartSite .cProd2,
.main .cartSite .cProd3,
.main .cartSite .cProd4,
.main .cartSite .cProd5 {
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    background: linear-gradient(to bottom, #404343, #b7adb6);

}   



.main .hide {
    display: none;

}